%h1 SimpleCI

%h2 Yeah bitch


=begin
Project
  name
  source_path
  branch #default => "master"

  working_path


  git log <project.branch>


Action
  project_id
  command

Result
  project_id
  commit_id
  data

ResultMatcher
  pattern
  success
  failure


observe source_path's git_log *master
on change run all the projects actions and store results against commit id.

action ie:
  command "rake spec"

  #clone project into action specific dir
  #run action in dir
  #store result

  #do something if certain results


  result_matcher do |result|
    r = false
    r = result.include("passed")
    r = result.split("passed")[2].eql?(0)
    return r
    #logic to test result and return true or false

  end

=end
